node_modules
.env
.expo
.DS_Store
apps/*/android/.gradle/
apps/*/android/build/
apps/*/android/app/build/
apps/*/android/app/.cxx/
apps/*/android/app/debug.keystore
apps/*/android/local.properties
apps/*/ios/Pods/
apps/*/ios/build/
apps/*/ios/.xcode.env.local
